@model dsiPDCXListener.Models.AdminData

@{
    ViewBag.Title = "Admin";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Data</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostURL)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PostURL)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TranDeviceID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.TranDeviceID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostURLMethod)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.PostURLMethod)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ComPort)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.ComPort)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecureDevice)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.SecureDevice)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MerchantID)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.MerchantID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncludeRecordNoAndFrequency)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncludeRecordNoAndFrequency)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IncludeAlerts)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.IncludeAlerts)
        </div>
    </fieldset>
    <input type="submit" value="Update" />
}
