@model dsiPDCXListener.Models.PaymentResponseContainer

@{
    ViewBag.Title = "Txn Results";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@Model.PaymentResponseData.AcctNo</h4>
<h4>@Model.PaymentResponseData.AuthCode</h4>
<h4>@Model.PaymentResponseData.Authorize</h4>
<h4>@Model.PaymentResponseData.CaptureStatus</h4>
<h4>@Model.PaymentResponseData.CardType</h4>
<h4>@Model.PaymentResponseData.CmdStatus</h4>
<h4>@Model.PaymentResponseData.DSIXReturnCode</h4>
<h4>@Model.PaymentResponseData.InvoiceNo</h4>
<h4>@Model.PaymentResponseData.MerchantID</h4>
<h4>@Model.PaymentResponseData.Purchase</h4>
<h4>@Model.PaymentResponseData.RecordNo</h4>
<h4>@Model.PaymentResponseData.RefNo</h4>
<h4>@Model.PaymentResponseData.ResponseOrigin</h4>
<h4>@Model.PaymentResponseData.TextResponse</h4>
<h4>@Model.PaymentResponseData.TranCode</h4>


